#root {
  min-height: 100vh;
  height: 100%;
  background-image: url('/cielo4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: center;
  align-items: center;
}
.card {
  max-width: 350px;
  width: 100%;
  padding: 2em 1.5em;
  background-color: #ffffff80;
  -webkit-backdrop-filter: brightness(1) blur(5px);
  backdrop-filter: brightness(1) blur(5px);
  border-radius: 1.5em;
  box-shadow: 0 0 10px 0 #3089bc4a;
  transition: box-shadow 0.25s;
}
.card:hover {
  box-shadow: 0 0 25px 0 #25ac6f4a;
}
.card__title,
.card__subtitle {
  text-align: center;
}
.card__body {
  display: flex;
  align-items: center;
}
.card__temperature {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: .25em;
}
.card__button {
  display: block;
  margin: 0 auto;
  background-color: #00000011;
  -webkit-backdrop-filter: brightness(1) blur(5px);
  backdrop-filter: brightness(1) blur(5px);
}

/* Estilos para la pantalla de carga */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  z-index: 3000; 
}

.loading-screen::after {
  content: "Loading...";
  animation: fade 2.5s infinite;
}

/* Animación de desvanecimiento */
@keyframes fade {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}
/* Estilos para el contenedor de búsqueda */

.city-input {
  width: 60%;             /* Anchura del campo de entrada */
  padding: 10px;           /* Espaciado interno */
  margin-right: 10px;      /* Separación entre el campo y el botón */
  border: 1px solid #051201;  /* Borde del input */
  border-radius: 5px;      
  font-size: 16px;         /* Tamaño de fuente */
}

.search-button {
  padding: 10px 15px;          /* Tamaño del botón */
  background-color: #41cbe9;   /* Color de fondo (verde) */
  color: white;                /* Color del texto */
  border: none;                /* Sin borde */
  border-radius: 5px;          /* Bordes redondeados */
  font-size: 16px;             /* Tamaño de la fuente */
  cursor: pointer;             /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s;  /* Suaviza la transición de color */
}




